.icon-left {
  position: absolute;
  top: 50px;
  left: 50px;
}

.icon-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: #ffc76a;
}
